<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">


    <test name="Test">

        <parameter name="contour" value="8093"></parameter>

        <classes>


            <class name="org.fbconsult.Tests.TestSF_License"></class>

        </classes>
    </test>


</suite>