<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="RegressionTests_8083_Contour">
        <classes>
            <class name="Tests_8083.TestSF_ComplianceWEB_DBData"></class>

        </classes>
    </test>


</suite>